#top-games-wrapper {
    width: 800px;
    height: auto;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: bisque;
}

.card {
    padding: 2rem;

    border: 2px solid black;
    border-radius: 10px;

    background-color: rgb(203, 224, 179);
}

.image {
    object-fit: cover;
}

.title {
    text-decoration: underline;
}

.real-plat-wrapper {
    display: flex;
    justify-content: space-between;

    padding: 2rem 0;
}

.realise-date {
    color: rgb(32, 35, 204);
}

.platforms {
    color: green;
}

.discription {
    padding: 2rem 0;

    text-align: justify;
}
