#cryptos-wrapper {
    width: 700px;
    height: auto;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: rgb(32, 140, 211);
}

.crypto-wrapper {
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    justify-content: end;
    align-content: center;
    gap: 2rem;

    padding: 2rem 2rem;

    border: 5px solid gold;
}

.goldBorder {
    border-color: gold;
}

.silverBorder {
    border-color: silver;
}

.title {
    vertical-align: middle;
}

.logo-wrapper {
    width: 4rem;
}

.logo-wrapper img {
    width: 100%;
    object-fit: contain;
}

.currPrice {
    text-align: end;
}
