#cryptos-wrapper {
    width: 600px;
    height: auto;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: rgb(32, 140, 211);
}

.crypto-wrapper {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem;

    border: 5px solid gold;
}

.goldBorder {
    border-color: gold;
}

.silverBorder {
    border-color: silver;
}
